# Our stuff
*.pickle
*.pklz
*.bak
#*.pdf
#.nc
*.csv

*.bz2
#*.csv
#*.h5
#*.json

.idea/


qgis/
figures/
docs/
documents/
archive/
data/
shapefiles/
processed_data/
saved_models/
predictions/
mosaics/
sandbox_scripts/
*sandbox*

# Horrible Apple stuff
# find . -name "Icon?" -print0 | xargs -0 rm -rf
.DS_Store
.DS_*
Icon
*Icon*
*Icon?*
Icon?
refs/Icon?
*/Icon?
*/*/Icon?

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
.pyc
.pyo

# Google docs
*.gslides
*.gdoc